* {
  box-sizing: border-box;
}

:root {
  --primary-color: #e3963e;
  --secondary-color: #fffff0;
  --background-color: #3f556d;
}

body {
  background-image: url("./assets/images/background2.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: var(--secondary-color);
}

.title {
  margin-top: 80px;
  margin-bottom: 40px;
}

.menu {
  text-decoration: none;
  font-size: 18px;
  color: var(--secondary-color);
}

header {
  position: sticky;
  top: 0;
  background-image: url("./assets/images/background2.jpg");
  background-size: cover;
  width: 100%;
  z-index: 9999;
}

.hero {
  margin-top: 280px;
  margin-bottom: 100px;
}

.intro {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-align: center;
  color: var(--secondary-color);
}

h1,
h2,
h4,
#my-name {
  color: var(--primary-color);
}

.navActive {
  color: var(--primary-color);
}

header nav a,
a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--background-color);
  width: 100%;
  height: 45px;
  font-size: 22px;
  padding-top: 55px;
}

#contact {
  font-size: 18px;
}

#contact label {
  margin-top: 5px;
}

.bio {
  background-color: var(--background-color);
  padding: 15px;
  border-radius: 25px;
}

.card-text {
  color: black;
}

#about,
#resume {
  margin-bottom: 50px;
}

#about img {
  border-radius: 45%;
}

#resume li {
  font-size: 18px;
}

.fa {
  font-size: 30px;
}

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 930px) {
  #info {
    flex-direction: column;
  }

  #projects {
    flex-direction: column;
  }

  .card {
    margin-top: 30px;
  }
}

@media screen and (max-width: 575px) {
  .menu a {
    font-size: 15px;
  }
  .intro {
    font-size: 25px;
  }
  .navbar-nav {
    flex-direction: row;
  }
  h2 {
    font-size: 30px;
  }
  #info {
    flex-direction: column;
  }

  #resume {
    flex-direction: column;
    align-items: start;
  }

  #dl-btn {
    margin-top: -185px;
  }
}
