* {
  box-sizing: border-box;
}

:root {
  --primary-color: #e3963e;
  --secondary-color: #fffff0;
  --background-color: #3f556d;
}

body {
  background-image: url("./assets/images/background2.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: var(--secondary-color);
}

/* Header / Landing Page */
header a {
  text-decoration: none;
  font-size: 22px;
  color: var(--secondary-color);
}

.menu .navActive a {
  color: var(--primary-color);
}

.menu a:hover {
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  background-image: url("./assets/images/background2.jpg");
  background-size: cover;
  width: 100%;
  z-index: 9999;
}

.hero {
  margin-top: 150px;
  margin-bottom: 75px;
}

.intro {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-align: center;
  color: var(--secondary-color);
}

/* About */
.bio {
  background-color: var(--background-color);
  padding: 15px;
  border-radius: 25px;
}

#about img {
  border-radius: 30%;
}

.card-banner {
  padding: 10px;
  background-color: #c5b358;
  text-decoration: none;
}

.card-banner a {
  color: var(--secondary-color);
}

.card-banner a:hover {
  color: var(--background-color);
  text-decoration: none;
}

.card {
  border-radius: 20px;
}

/* Contact */
#contact {
  font-size: 18px;
}

#contact label {
  margin-top: 5px;
}

#my-form {
  margin-bottom: 60px;
}

/* Resume */
#resume li {
  font-size: 18px;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  background-color: var(--background-color);
  width: 100%;
  height: 45px;
  font-size: 22px;
  padding-top: 55px;
}

footer a:hover {
  color: var(--secondary-color);
}
/* Miscellaneous */

h1,
h2,
h4,
#my-name {
  color: var(--primary-color);
}

#about,
#resume,
#portfolio {
  margin-bottom: 75px;
}

.fa {
  font-size: 30px;
}

/* Media Queries */

@media screen and (max-width: 930px) {
  #info {
    flex-direction: column;
  }

  .about div {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .about div .hobby-list {
    text-align: left;
  }

  #projects {
    flex-direction: column;
  }

  .card {
    margin-top: 30px;
  }

  .about .d-flex {
    display: block;
    width: auto;
  }
}

@media screen and (max-width: 575px) {
  .menu a,
  li {
    font-size: 15px;
  }

  .intro {
    font-size: 25px;
  }

  .navbar-nav {
    flex-direction: row;
  }
  h2 {
    font-size: 30px;
  }
  #info {
    flex-direction: column;
  }

  #skills {
    flex-direction: column;
    align-items: start;
  }
}
